@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

:root{
  --black: #18181a;
  --light-black: #0d0c22;
  --dark-slate-gray: #464646;
  --medium-dark-gray: #575757;
  --slate-gray:#373939;
  --dark-gray:#333333;
  --medium-gray:#e1e4e8;
  --light-gray:#f2f2f2;
  --whitesmoke:#f7f7f7;
  --white:#fff;
  --light-blue: #6abecd;
}

/*Showcase*/
.about-showcase{
  background-image:url('/img/home-showcase-3.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 30vh;
  position: relative;
}

/*Background color on showcase*/
.about-showcase::before{
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.about-showcase-text-overlay{
  color: var(--white);
  height: 100%;
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about-showcase-text{
  z-index: 1;
  text-transform: uppercase;
  font-size: 2.4rem;
  letter-spacing: .08rem;
}

.about-title{
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
  color: var(--dark-grey);
  margin: 3rem 0 2rem 0;
  letter-spacing: .05rem;
}

/* Underline on the about title*/
.about-title::after{
  content: "";
  display: block;
  width: 7%;
  margin: 0 auto;
  padding-top: .75rem;
  border-bottom: solid var(--light-blue) 3.5px;
}

.about-text-container{
  width: 70%;
  margin: 1rem auto 4rem auto;
  text-align: center;
}

.about-text{
  font-size: 1.2rem;
  line-height: 2.5rem;
  color: var(--black);
}

/*Skills Section*/
.about-skills-background{
  padding-bottom: 12rem;
}

.about-skills-title{
  color: var(--black);
  text-align: center;
  padding-bottom: 2rem;
  font-size: 2rem;
}

/* Underline on the about skills title*/
.about-skills-title::after{
  content: "";
  display: block;
  width: 5%;
  margin: 0 auto;
  padding-top: .75rem;
  border-bottom: solid var(--light-blue) 3.5px;
}

.about-skills-container{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  justify-content: center;
  width: 90%;
  margin: 0 auto;
}

.about-skill-box{
  background-color: var(--dark-slate-gray);
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-self: center;
  width: 90%;
  padding: 3rem 0;
  margin: 0 auto;
}

.skill-category{
  color: var(--medium-gray);
  text-transform: uppercase;
  font-size: 1.2rem;
  letter-spacing: .07rem;
}

.about-skills-list{
  margin-top: .5rem;
  
}

.about-skills-list li{
  color: var(--white);
  text-transform: uppercase;
  font-size: 1rem;
  margin-bottom: .7rem;
}



@media(max-width:1000px){
  
  .about-text-container{
    width: 85%;
  }

  .about-text{
    font-size: 1.1rem;
    line-height: 2.2rem;
  }

  .about-skills-title{
    font-size: 1.7rem;
  }

  .about-skills-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }

  .about-skill-box{
    margin-bottom: 1rem;
  }
  
  .skill-category{
    font-size: 1.1rem;
  }
  
  .about-skills-list{
    margin-top: .5rem;
    
  }
  
  .about-skills-list li{
    font-size: .95rem;
  }

}

@media(max-width: 900px){
  /* Underline on the about title*/
  .about-title::after{
    width: 12%;
  }

  /* Underline on the about skills title*/
  .about-skills-title::after{
    width: 12%;
  }
}

@media(max-width: 700px){
  .about-text-container{
    width: 87%;
  }

  .about-skills-container{
    display: grid;
    grid-template-columns: repeat(1,1fr);
  }

  .about-skill-box{
    width: 90%;
    padding: 2rem 0;
  }

}

@media(max-width: 560px){
  .about-text{
    line-height: 2rem;
  }

}

@media(max-width:415px){
  .about-showcase-text{
    font-size: 2.2rem;
  }

  .about-title{
    font-size: 1.45rem;
    margin-bottom: 1.5rem;
  }

  .about-title::after{
    width: 15%;
    padding-top: 0.3rem;
  }

  .about-text-container{
    width: 90%;
    margin: 0 auto 4rem auto;
    text-align: center;
  }

  .about-text{
    width: 100%;
    margin: 0 auto;
    font-size: .97rem;
    line-height: 1.75rem;
  }

  /* Underline on the about skills title*/
  .about-skills-title::after{
    width: 15%;
    padding-top: 0.3rem;
  }

  .about-skills-container{
    grid-template-columns: repeat(1,1fr);
  }

  .about-skill-box{
    margin-bottom: 1.5rem;
  }

}