:root{
  --black: #18181a;
  --light-black: #0d0c22;
  --dark-slate-gray: #464646;
  --dark-gray:#333333;
  --slate-gray:#373939;
  --medium-dark-gray: #575757;
  --medium-gray:#e1e4e8;
  --medium-light-gray: #cccccc;
  --light-gray:#f2f2f2;
  --whitesmoke:#f7f7f7;
  --white:#fff;
  --light-blue: #6abecd;
}

/*Showcase*/
.contact-showcase{
  background-image:url('/img/home-showcase-3.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 30vh;
  position: relative;
}

/*Background color on showcase*/
.contact-showcase::before{
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.contact-showcase-text-overlay{
  color: var(--white);
  height: 100%;
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-showcase-text{
  z-index: 1;
  text-transform: uppercase;
  font-size: 2.4rem;
  letter-spacing: .08rem;
}

.contact-title{
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
  color: var(--dark-gray);
  margin: 3rem 0;
  letter-spacing: .05rem;
}

/* Underline on the contact title */
.contact-title::after{
  content: "";
  display: block;
  width: 7%;
  margin: 0 auto;
  border-bottom: solid var(--light-blue) 3px;
  padding-top: 1rem;
}

.personal-contact-container{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  width: 60%;
  margin: 2rem auto;
}

.personal-contact-box{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.personal-contact-box i{
  font-size: 2.5rem;
  color: var(--slate-gray);
  margin-bottom: 2rem;
}

.personal-contact-category{
  font-size: 1rem;
  font-style: italic;
  margin-bottom: .5rem;
  color: var(--slate-gray);
}

.personal-contact-info{
  font-size: 1rem;
  color: var(--slate-gray);
}

/*Contact Form*/
.contact-form{
  display: flex;
  flex-direction: column;
  width: 75%;
  margin: 5rem auto 8rem auto;
}

.name,
.email,
.subject,
.phone{
  font-family: 'Cabin', sans-serif;
  font-size: 0.9rem;
  padding: 1rem 0 1rem .5rem;
  letter-spacing: .05rem;
  border: none;
  border-bottom: solid var(--medium-light-gray) thin;
  width: 90%;
  margin: 0 auto;
}

.message{
  font-family: 'Cabin', sans-serif;
  font-size: 1rem;
  margin: 1rem auto;
  padding: .5rem 0 10rem .5rem;
  border: solid var(--medium-light-gray) 2px;
  width: 90%;
}

input:focus{
  outline: none;
}

.submit-button{
  font-family: 'Cabin', sans-serif;
  font-size: 1rem;
  background-color: var(--light-blue);
  color: var(--white);
  width: 25%;
  border: none;
  letter-spacing: 0.075rem;
  margin: 0 auto;
  padding: 1rem 0;
  text-transform: uppercase;
}

@media(max-width:900px){
  /* Underline on the contact title */
  .contact-title::after{
    width: 12%;
  }
  .contact-showcase-text{
    font-size: 1.95rem;
  }

  .contact-title{
    font-size: 1.5rem;
  }

  .personal-contact-container{
    width: 100%;
  }
  .submit-button{
    width: 35%;
    
  }
}

@media(max-width:700px){
  .personal-contact-container{
    margin: 1rem auto;
  }
  
  .personal-contact-box i{
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }
  
  .personal-contact-category{
    font-size: 1rem;
    font-style: italic;
    margin-bottom: .5rem;
  }
  
  .personal-contact-info{
    font-size: 1rem;
  }

  .name,
  .email,
  .subject,
  .phone,
  .message{
    width: 100%;
  }
}

@media(max-width: 415px){
  .contact-title{
    margin-bottom: 1.5rem;
  }

  .personal-showcase-text{
    font-size: 2.2rem;
  }

  .personal-title{
    font-size: 1.45rem;
    margin-bottom: 1.3rem;
  }

  .personal-title::after{
    width: 15%;
    padding-top: 0.3rem;
  }

  .personal-contact-container{
    display: none;
  }

  /*Contact Form*/
  .contact-form{
    width: 90%;
    margin-top: 0;
  }
}

@media(max-width:320px){
  .personal-contact-box i{
    font-size: 1.75rem;
  }

  .personal-contact-category{
    font-size: .9rem;
  }

  .personal-contact-info{
    font-size: .85rem;
  }

}
