@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&display=swap');

:root{
  --black:#1d1d1d;
  --slate-grey:#373939;
  --dark-grey:#333333;
  --medium-dark-grey:#ccc;
  --medium-grey:#e1e4e8;
  --light-grey:#f7f7f7;
  --white:#fff;
  --dark-blue:#337ab7;
  --red:#eb5352;
}

/*Showcase*/
.projects-showcase{
  background-image:url('/img/laptop.jpg') ;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vh;
  position: relative;
}

/*background color on the showcase*/
.projects-showcase::before{
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(128, 128, 128, .8);
}

.projects-showcase-text-overlay{
  color: var(--white);
  height: 100%;
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.projects-showcase-text{
  z-index: 1;
  text-transform: uppercase;
  font-size: 2.4rem;
  letter-spacing: .08rem;
}

.projects-title{
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
  color: var(--dark-grey);
  margin: 3rem 0;
  letter-spacing: .05rem;
}

/*red underline on the projects title*/
.projects-title::after{
  content: "";
  display: block;
  width: 3%;
  margin: 0 auto;
  border-bottom: solid var(--red) 3px;
  padding-top: 1rem;
}

.projects-container{
  display: flex;
  flex-direction: column;
  width: 87%;
  margin: 4rem auto 8rem auto;
}

/*Individual project box*/
.project-box{
  display: flex;
  border: solid var(--medium-dark-grey) 2px;
  border-bottom: none;
}

/*Add a border line at the bottom of the last project box*/
.project-box:last-child{
  border-bottom: solid var(--medium-dark-grey) thin;
  padding-bottom: 1.5rem;
}

.project-image-container{
  width: 60%;
  height: auto;
}
.project-image-container img{
  width: 100%;
  height: 100%;
}

/*Project Description Side*/
.project-description-container{
  width: 40%;
  padding: 0 2rem 1.5rem 1.5rem;
}

.project-top{
  color: var(--black);
}
.project-top::after{
  content: "";
  display: block;
  width: 100%;
  padding-top: .7rem;
  border-bottom: solid var(--medium-dark-grey) thin;
}

.project-title{
  margin-top: 3rem;
  font-size: 1.6rem;
  letter-spacing: .06rem;
}

.project-languages{
  font-size: 1rem;
  text-transform: uppercase;
  margin-top: 2rem;
  font-family: 'Open Sans', sans-serif;
}

.project-bottom{
  color: var(--black);
}

.project-overview-title{
  margin: 1rem 0 .5rem 0;
  font-family: 'Open Sans', sans-serif;
}

.project-overview-container{
  width: 100%;
  margin-bottom: 2rem;
}

.project-overview-text{
  font-size: 1rem;
  margin-top: .5rem;
  line-height: 1.8rem;
  font-family: 'Open Sans', sans-serif;
}

.project-button{
  color: var(--slate-grey);
  border: solid var(--slate-grey) 2px;
  border-radius: 4px;
  padding: .25rem 1.1rem;
  text-transform: uppercase;
  font-size: .95rem;
  letter-spacing: .05rem;
  transition-duration: .2s;
  transition-timing-function: ease-in-out;
}

.project-button:hover{
  background-color: var(--slate-grey);
  color: var(--white);
}

@media(max-width:1200px){
  .projects-container{
    width: 100%;
  }

  /*Individual project box*/
  .project-box{
    border: none;
    height:60vh;
  }

  /*Individual project box*/
  .project-box:first-child{
    border-top: solid var(--medium-dark-grey) thin;
  }

  .project-image-container{
    height: 60vh;
  }

  .project-title{
    font-size: 1.4rem;
  }
  
  .project-languages{
    font-size: .85rem;
  }

  .project-overview-container{
    margin-bottom: 1.5rem;
  }

  .project-overview-title{
    font-size: .85rem;
  }

  .project-overview-text{
    font-size: .9rem;
    line-height: 1.3rem;
  }

  .project-button{
    font-size: .8rem;
  }

}


@media(max-width:900px){
  .projects-showcase-text{
    font-size: 1.95rem;
  }

  .projects-title{
    font-size: 1.5rem;
  }

  /*Individual project box*/
  .project-box{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin-bottom:2rem;
  }

  /*Reverse the column order on even boxes*/
  .project-box:nth-child(even){
    display: flex;
    flex-direction: column-reverse;
  }

  .project-image-container{
    width: 100%;
    height: 65vh;
  }

  .project-image-container img{
    width: 100%;
    height: 100%;
  }
  
  /*Project Description Side*/
  .project-description-container{
    width: 100%;
    text-align: center;
    padding: 0 2rem;
  }
}

@media(max-width:750px){
  .project-image-container{
    height: 60vh;
  }
}

@media(max-width:415px){
  .project-image-container{
    height: 45vh;
  }

  .project-title{
    font-size: 1.1rem;
    margin: 1.5rem 0;
    text-transform: uppercase;
  }

  .project-languages{
    margin-top: 1rem;
  }
  
  .project-bottom{
    color: var(--black);
  }
  
  .project-overview-title{
    margin: .5rem 0;
  }
  
  .project-overview-container{
    margin-bottom: 1.5rem;
  }
  
  .project-overview-text{
    font-size: .8rem;
    margin-top: 0;
  }
  
  .project-button{
    font-size: .75rem;
  }
}


@media(max-width:375px){
  .project-image-container{
    height: 40vh;
  }

  .project-title{
    font-size: 1.1rem;
    text-transform: uppercase;
  }

  .project-overview-text{
    line-height: 1.6rem;
  }
}

@media(max-width:320px){
  .project-image-container{
    height: 35vh;
  }
 
  .project-title{
    font-size: 1rem;
    text-transform: uppercase;
  }

  .project-languages{
    font-size: .8rem;
  }

  .project-overview-title{
    font-size: .8rem;
  }

  .project-overview-text{
    font-size: .7rem;
  }

  .project-button{
    font-size: .7rem;
  }
}
