@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&display=swap');

:root{
  --black: #18181a;
  --light-black: #0d0c22;
  --dark-slate-gray: #464646;
  --medium-dark-gray: #575757;
  --slate-gray:#373939;
  --dark-gray:#333333;
  --medium-gray:#e1e4e8;
  --light-gray:#f2f2f2;
  --whitesmoke:#f7f7f7;
  --white:#fff;
  --light-blue: #6abecd;
}

/*Showcase*/
.projects-showcase{
  background-image:url('/img/home-showcase-3.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 30vh;
  position: relative;
}

/*background color on the showcase*/
.projects-showcase::before{
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.projects-showcase-text-overlay{
  color: var(--white);
  height: 100%;
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.projects-showcase-text{
  z-index: 1;
  text-transform: uppercase;
  font-size: 2.4rem;
  letter-spacing: .08rem;
}

.projects-title{
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
  color: var(--dark-gray);
  margin: 3rem 0;
  letter-spacing: .05rem;
}

/* Underline on the projects title*/
.projects-title::after{
  content: "";
  display: block;
  width: 7%;
  margin: 0 auto;
  border-bottom: solid var(--light-blue) 3px;
  padding-top: 1rem;
}

.projects-container{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  align-items: center;
  width: 95%;
  margin: 4rem auto 8rem auto;
}

/*Individual project box*/
.project-box{
  display: flex;
  flex-direction: column;
  margin: 0 auto 6rem auto;
  width: 90%;
}

.project-image-container{
  width: 100%;
  height: 50vh;
  position: relative;
}

.project-image-container img{
  width: 100%;
  height: 100%;
}

.project-image-container::before{
  position: absolute;
  content: '';
  display: block;
  background:rgba(0,0,0,0.8);
  top:0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
  transition-property: all;
}

.project-image-container:hover:before{
  opacity: 1;
}

/* Project image text container - displays title, languages, and button on hover */
.project-image-text-container{
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
  text-align: center;
  text-transform: uppercase;
  visibility: hidden;
  transition-duration: .4s;
  transition-timing-function: ease-in-out;
  transition-property: all;
  opacity: 0;
  color: var(--white);
}

/*Display the text on the project while hovering over the project*/
.project-image-container:hover .project-image-text-container{
  visibility: visible;
  z-index: 1;
  opacity: 1;
}

.project-image-text-title{
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.project-image-text-language{
  color: var(--medium-gray);
  font-size: 1.15rem;
  margin-bottom: 1rem;
}

.project-image-button{
  background-color: var(--white);
  color: var(--dark-slate-gray);
  border-radius: 4px;
  padding: .5rem .85rem;
  font-size: 1rem;
}

.project-image-button:hover{
  background-color: var(--light-blue);
  color: var(--white);
}

/* Project Description Side */
.project-description-container{
  width: 95%;
}

.project-box-title{
  color: var(--dark-slate-gray);
  margin: 1.5rem 0 1rem 0;
  font-size: 1.6rem;
  letter-spacing: .06rem;
  text-transform: uppercase;
}

.project-overview-container{
  width: 100%;
  margin-bottom: 2rem;
}

.project-overview-text{
  font-size: 1rem;
  margin-top: .5rem;
  line-height: 1.8rem;
  font-family: 'Open Sans', sans-serif;
}

.project-languages-container{
  display: flex;
  margin-bottom: 1rem;
}

.project-languages-li{
  font-size: 0.8rem;
  text-transform: uppercase;
  margin-right: 1rem;
  color: var(--medium-dark-gray);
  border: solid var(--medium-dark-gray) thin;
  padding: 0.25rem 1rem;
  font-family: 'Open Sans', sans-serif;
}

.project-button{
  background-color: var(--light-blue);
  color: var(--white);
  border: solid var(--light-blue) thin;
  border-radius: 4px;
  padding: .25rem 1.1rem;
  text-transform: uppercase;
  font-size: .95rem;
  letter-spacing: .05rem;
}


@media(max-width:1300px){
  /* Project container - grid display with 1 column */
  .projects-container{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    width: 90%;
  }

  .project-image-container{
    width: 100%;
    height: 65vh;
  }

  .project-image-text-title{
    font-size: 1.8rem;
  }

}


@media(max-width:900px){
  /* Underline on the about title*/
  .about-title::after{
    width: 12%;
  }
  
   /* Project container - grid display with 1 column */
   .projects-container{
    width: 95%;
  }

  /*Individual project box*/
  .project-box{
    width: 100%;
  }

  .project-image-container{
    width: 100%;
    height: 55vh;
  }

  .project-overview-text{
    font-size: 0.97rem;
    line-height: 1.5rem;
  }
 
}


@media(max-width:550px){
  .project-image-container{
    height: 40vh;
  }
  
}


@media(max-width:415px){
  .projects-showcase-text{
    font-size: 2.2rem;
  }

  .projects-title{
    font-size: 1.45rem;
    margin-bottom: 1.5rem;
  }

  .projects-title::after{
    width: 15%;
    padding-top: 0.3rem;
  }

  .projects-container{
    margin: 0;
  }

  .project-image-container{
    height: 35vh;
  }

  .project-box-title{
    font-size: 1.4rem;
  }
  
  .project-overview-text{
    font-size: 0.9rem;
    line-height: 1.3rem;
  }
}


@media(max-width:320px){
  .project-image-container{
    height: 32vh;
  }
}
