@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&display=swap');

:root{
  --slate-grey:#373939;
  --dark-grey:#333333;
  --medium-grey:#e1e4e8;
  --light-grey:#f7f7f7;
  --white:#fff;
  --dark-blue:#337ab7;
  --red:#eb5352;
}

/*Showcase*/
.requirement-showcase{
  background-image:url('/img/laptop.jpg') ;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vh;
  position: relative;
}

.requirement-showcase::before{
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(128, 128, 128, .8);
}

.requirement-showcase-text-overlay{
  color: var(--white);
  height: 100%;
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.requirement-showcase-text{
  z-index: 1;
  text-transform: uppercase;
  font-size: 2.4rem;
  letter-spacing: .08rem;
  white-space: nowrap;
}

.requirement-title{
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
  color: var(--dark-grey);
  margin: 3rem 0;
  letter-spacing: .05rem;
}

.requirement-title::after{
  content: "";
  display: block;
  width: 20%;
  margin: 0 auto;
  border-bottom: solid var(--red) 3px;
  padding-top: 1rem;
}

.requirement-container{
  display: grid;
  grid-template-columns: 1fr;
  width:75%;
  margin: 0 auto;
}

.requirement-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem;
}

.requirement-image-container{
  width: 100%;
  height: 65vh;
}

.requirement-image-container img{
  width: 100%;
  height: 100%;
}

.requirement-description-title{
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5rem;
  margin: 2rem 0 1.5rem 0;
}

.requirement-description-container{
  text-align: center;
  margin-bottom: 1.5rem;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2rem;
}

.requirement-description-button{
  color: var(--white);
  background-color: var(--slate-grey);
  border-radius: 4px;
  padding: .33rem 1.35rem;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  transition-duration: .15s;
  transition-timing-function: ease-in-out;
}

.requirement-description-button:hover{
  background-color: var(--red);
}

.use-case-text{
  margin-bottom: .5rem;
}

@media(max-width:900px){
  .requirement-showcase-text{
    font-size: 1.95rem;
  }

  .requirement-title{
    font-size: 1.6rem;
  }
}

@media(max-width:850px){

  .requirement-container{
    width:95%;
  }

  .requirement-image-container{
    height: 55vh;
  }

  .requirement-description-title{
    font-size: 1.2rem;
  }
  
  .requirement-description-container{
    font-size: 1rem;
  }
  
  .requirement-description-button{
    font-size: .85rem;
  }
}

@media(max-width:650px){

  .requirement-showcase-text{
    font-size: 1.4rem;
  }

  .requirement-image-container{
    display: none;
  }

  .requirement-description-title{
    font-size: 1.2rem;
  }
  
  .requirement-description-container{
    font-size: 1rem;
  }
  
  .requirement-description-button{
    font-size: .85rem;
  }
}

