@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&display=swap');

:root{
  --slate-grey:#373939;
  --dark-grey:#333333;
  --medium-grey:#e1e4e8;
  --light-grey:#f7f7f7;
  --whitesmoke:#f3f3f3;
  --white:#fff;
  --dark-blue:#337ab7;
  --red:#eb5352;
}

/*Showcase*/
.resume-showcase{
  background-image:url('/img/laptop.jpg') ;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vh;
  position: relative;
}

/*background color on the resume showcase*/
.resume-showcase::before{
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(128, 128, 128, .8);
}

.resume-showcase-text-overlay{
  color: var(--white);
  height: 100%;
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.resume-showcase-text{
  z-index: 1;
  text-transform: uppercase;
  font-size: 2.4rem;
  letter-spacing: .08rem;
}

.resume-title{
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
  color: var(--dark-grey);
  margin: 3rem 0;
  letter-spacing: .05rem;
}

/*red underline on the resume title*/
.resume-title::after{
  content: "";
  display: block;
  width: 5%;
  margin: 0 auto;
  border-bottom: solid var(--red) 3px;
  padding-top: 1rem;
}

.resume-container{
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto 8rem auto;
  border: solid var(--whitesmoke) 1px;
  box-shadow: 0 0 2px rgba(0, 0, 0, .06);
  font-family: 'Open Sans', sans-serif;
}

.resume-title-container{
  background-color: var(--whitesmoke);
  color: var(--dark-grey);
  text-align: center;
  padding: 2rem 0;
  font-size: 2rem;
  font-family: 'Lato', sans-serif;
  margin: 4rem 0 1rem 0;
}

.resume-box:first-child .resume-title-container{
  margin: 0 0 1rem 0;
}

.education-container,
.skills-container,
.experience-container{
  margin: 1.5rem 0 0 1.5rem;
}

.education-text{
  font-size: .92rem;
  margin-bottom: .75rem;
}

.text-dark{
  font-weight: bold;
  font-style: italic;
}

/*Skills section*/
.skills-category{
  font-weight: bold;
  font-style: italic;
  margin-right: .5rem;
}

.skills-list{
  margin-bottom: .5rem;
  font-size: .92rem;
}

.experience-box{
  border-bottom: solid var(--slate-grey) thin;
  margin: 1.5rem 0 0 0;
  padding-bottom: 1.5rem;
  font-size: .92rem;
}

.experience-box:last-child{
  border-bottom: none;
}
.experience-dark-text{
  font-weight: bold;
  font-style: italic;
}

.work-duties-list{
  margin-top: 1.5rem;
}

.work-duties-list li{
  list-style: square;
  margin-bottom: .2rem;
}

@media(max-width:900px){
  .resume-showcase-text{
    font-size: 1.95rem;
  }

  .resume-title{
    font-size: 1.5rem;
  }
}

@media(max-width:600px){
  .resume-container{
    width: 80%;
  }

  .education-container,
  .skills-container,
  .experience-container{
    padding: 0 1rem;
  }
}

@media(max-width:415px){
  .resume-container{
    width: 100%;
  }
}
