/*Media queries for index.html start on line 389*/

@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  line-height: 1.6rem;
  letter-spacing: .02rem;
  overflow-x: hidden;
  max-width: 100%;
  font-family: 'Oswald', sans-serif;
}

:root{
  --slate-grey:#373939;
  --dark-grey:#333333;
  --medium-grey:#e1e4e8;
  --light-grey:#f7f7f7;
  --white:#fff;
  --dark-blue:#337ab7;
  --red:#eb5352;
}

a{
  text-decoration: none;
}

li{
  list-style: none;
}

/*Button*/
.button{
  font-size: 1.3rem;
  color: var(--white);
  border-radius: 4px;
  padding: .5rem 1.2rem;
  text-transform: uppercase;
  z-index: 1;
  transition-duration: .2s;
  transition-timing-function: ease-in-out;
}

/*Button*/
.button:hover{
  background-color: var(--red);
  border-color: var(--red);
  color: var(--white);
}

/*Header*/
.header{
  background-color: var(--slate-grey);
 
}

.header-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  padding: 2rem 0;
}

.header-logo-container{
  display: flex;
  flex-direction: column;
  text-align: center;
}

.header-logo{
  color: var(--white);
  text-transform: uppercase;
  font-style: italic;
  transition-duration: .2s;
}
/*Text at the top of the logo*/
.header-logo-top{
  font-size: 1.8rem;
}
/*Text at the bottom of the logo*/
.header-logo-bottom{
  font-size: 1.6rem; 
}

.header-menu{
  display: flex;
}

.header-menu-link{
  color: var(--white);
  margin:0 1rem;
  text-transform: uppercase;
  transition-duration: .2s;
}

.header-menu-link:hover{
  color: var(--dark-blue);
}

.header-menu-active{
  color: var(--dark-blue);
}

/*Showcase*/
.showcase{
  background-image:url('/img/laptop.jpg') ;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  position: relative;
}

.showcase::before{
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(128, 128, 128, .8);
}

.showcase-text-overlay{
  color: var(--white);
  height: 100%;
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.showcase-text{
  z-index: 1;
}


.showcase-text-top{
  text-transform: uppercase;
  font-size: 2.5rem;
  letter-spacing: .08rem;
  animation-name: moveToRight;
  animation-duration: 2s;
}

.showcase-text-bottom{
  font-size: 1.7rem;
  margin: 2.2rem 0 2rem 0;
  animation-name: moveToLeft;
  animation-duration: 2s;
}

.showcase-button{
  color: var(--white);
  border: solid var(--white) 2px;
}

/*Keyframes that bring showcase text in from the left and right*/
@keyframes moveToRight{
  0%{
    opacity: 0;
    transform: translateX(-150px);
  }

  80%{
    transform: translateX(20px);
  }

  100%{
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes moveToLeft{
  0%{
    opacity: 0;
    transform: translateX(150px);
  }

  80%{
    transform: translateX(-20px);
  }

  100%{
    opacity: 1;
    transform: translateX(0px);
  }
}

/*Titles for each section/category on the home page*/
.home-title{
  margin-top: 4rem;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.65rem;
}

/*Red underline underneath the title*/
.home-title::after{
  content: "";
  display: block;
  width: 3.5%;
  margin: 0 auto;
  padding-top: .5rem ;
  border-bottom: solid var(--red) 3px;
}

/*Project section*/
.home-project-container{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 1.5rem;
  width: 80%;
  margin: 4rem auto 4.5rem auto;
}

/*Individual project box*/
.home-project{
  position: relative;
  height: 50vh;
  overflow: hidden;
}

/*add a black background color to the project box*/
.home-project::before{
  position: absolute;
  content: '';
  display: block;
  background:rgba(0,0,0,0.8);
  top:0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
  transition-property: all;
}

/*Display background color on the project box while hovering*/
.home-project:hover::before{
  opacity: 1;
}

.home-project-image-container{
  height: 50vh;
  width: 100%;
}

.home-project-image-container img{
  height: 100%;
  width: 100%; 
}

.home-project-text-container{
  position: absolute;
  top:40%;
  width: 100%;
  color: var(--white);
  text-align: center;
  text-transform: uppercase;
  visibility: hidden;
  transition-duration: .4s;
  transition-timing-function: ease-in-out;
  transition-property: all;
  opacity: 0;
}

/*Display the text on the project while hovering over the project*/
.home-project:hover .home-project-text-container{
  visibility: visible;
  z-index: 1;
  opacity: 1;
}

.home-project-text-top{
  font-size: 2.1rem;
  margin-bottom: 1rem;
}

.home-project-text-bottom{
  font-size: 1.15rem;
  margin-bottom: 1.45rem;
  color: var(--medium-grey);
}

.home-project-button{
  text-transform: uppercase;
  color: var(--slate-grey);
  background-color: var(--white);
  border: solid var(--white) thin;
  border-radius: 4px;
  padding: .35rem .85rem;
  font-size: 1rem;
}

/*Resume Section*/
.home-resume-section{
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: var(--light-grey);
  padding-bottom: 6rem;
}

/*Resume font awesome icon*/
.home-resume-icon-container i{
  font-size: 8rem;
  margin: 2rem 0;
  color: var(--dark-grey);
}

.home-resume-text-container{
  color: var(--dark-grey);
}

.home-resume-big-text{
  font-size: 1.8rem;
  margin-bottom: 1.4rem;
}

.home-resume-small-text{
  font-size: 1.3rem;
  margin-bottom: .8rem;
}

.home-resume-button{
  display: inline-block;
  margin: 1rem auto 0 auto;
  background-color: var(--dark-grey);
}

/*Requirement Documentation Section*/
.home-requirement-container{
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin: 3rem auto 9rem auto;
}

/*Individual requirement box*/
.home-requirement-box{
  text-align: center;
  padding: 3rem;
  border: solid var(--medium-grey) thin;
  box-shadow: 0 0 4px var(--medium-grey);
  color: var(--slate-grey);
}

/*Icon inside each requirement box*/
.home-requirement-box i{
  font-size: 4.2rem;
  margin-bottom: 1.15rem;
}

.home-requirement-box-title{
  font-size: 1.4rem;
  margin-bottom: .6rem;
}

.home-requirement-description{
  width: 70%;
  margin: 1.2rem auto 1.95rem auto;
  font-size: 1.2rem;
}

.home-requirement-button{
  background-color: var(--slate-grey);
  border-radius: 10px;
  padding: .35rem 1.25rem;
  font-size: 1rem;
}

/*Footer*/
.footer{
  text-align: center;
  background-color: var(--slate-grey);
  color: var(--white);
  padding: .5rem 0;
}

/*Media queries for home page/index.html*/
@media(max-width:1100px){
  /*Resume section*/
  .home-resume-icon-container i{
    font-size: 6rem;
  }
  
  .home-resume-big-text{
    font-size: 1.5rem;
    margin-bottom: 1.4rem;
  }
  
  .home-resume-small-text{
    font-size: 1.2rem;
    margin-bottom: .8rem;
  }
  
  .home-resume-button{
    font-size: 1rem;
  } 
}

@media(max-width:900px){
  /*header*/
  .header-container{
    display: flex;
    flex-direction: column;
  }

  .header-menu-link{
    margin:0 2rem 0 0;
  }

  .header-logo-container{
    text-align: justify;
    margin-bottom: 1rem;
  }

  .header-logo-top{
    font-size: 1.8rem;
    position: relative;
    right: 1.5rem;
  }
  
  .header-logo-bottom{
    font-size: 1.6rem; 
    
  }

  /*Project section*/
  .home-project-container{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-row-gap: 1.5rem;
    width: 97%;
    margin: 4rem auto 4.5rem auto;
  }

  .home-project{
    height: 75vh;
  }

  .home-project-image-container{
    height: 75vh;
  }

  /*Requirement Documentation Section*/
  .home-requirement-container{
    display: grid;
    grid-template-columns: 1fr;
    width: 60%;
  }

  .home-requirement-box{
    margin-bottom: 1rem;
  }

}

@media(max-width:640px){
  .showcase-text-top{
    font-size: 2.2rem;
    margin: 0 0 1.45rem 0;
  }

  .showcase-text-bottom{
    font-size: 1.55rem;
    margin: 0 0 1.45rem 0;
  }

  .header-menu-link{
    font-size: .95rem;
    margin:0 1rem 0 0;
  }

  .home-resume-big-text{
    font-size: 1.15rem;
  }

  .home-resume-small-text{
    font-size: 1rem;
  }
}

/*Media Query 415px*/
@media(max-width:415px){
  .header-logo-container{
    text-align: center;
  }

  .header-logo-top{
    font-size: 1.6rem;
    position: unset;
  }

  .header-logo-bottom{
    font-size: 1.4rem;
  }

  .header-menu-link{
    font-size: .75rem;
    margin-right: .75rem;
  }
  /*Showcase*/
  .showcase{
    height: 45vh;
  }

  .showcase-text-top{
    margin: 0 0 .75rem 0;
    font-size: 1.65rem;
  }
  
  .showcase-text-bottom{
    font-size: 1.2rem;
    margin: 0 0 .75rem 0;
  }
  
  .showcase-button{
    font-size: 1rem;
    padding: .35rem .75rem;
  }
  
  /*Titles on home page*/
  .home-title{
    font-size: 1.25rem;
  }
  
  .home-title::after{
    width: 7.5%;
  }
  
  /*home project section*/
  .home-project{
    height: 40vh;
  }

  .home-project::before{
    background:rgba(0,0,0,0.6);
    opacity: 1;
  }

  .home-project-image-container{
    height: 40vh;
  }

  .home-project-text-container{
    visibility: visible;
    opacity: 1;
  }

  .home-project-text-top{
    font-size: 1.7rem;
    margin-bottom: .5rem;
  }
  
  .home-project-text-bottom{
    font-size: .95rem;
    margin-bottom: 1rem;
  }
  
  .home-project-button{
    font-size: .8rem;
  }

  /*Home Resume section*/
  .home-resume-icon-container i{
    font-size: 4rem;
  }
  
  .home-resume-big-text{
    display: none;
  }
  
  .home-resume-small-text{
    font-size: 1rem;
    width: 90%;
    margin: 0 auto .75rem auto;
  }
  
  .home-resume-button{
    font-size: .85rem;
  } 

  /*home requirement section*/
  .home-requirement-container{
    width: 90%;
  }

  .home-requirement-box i{
    font-size: 3.2rem;
  }
  
  .home-requirement-box-title{
    font-size: 1.2rem;
  }
  
  .home-requirement-description{
    font-size: 1rem;
  }
  
  .home-requirement-button{
    font-size: .9rem;
  }
}

@media(max-width:375px){
  .header-menu-link{
    font-size: .7rem;
  }
}

@media(max-width:320px){
  .header-menu-link{
    font-size: .68rem;
    margin: 0 .35rem 0 0;
  }
}







